@if (ShowForm)
{
    <div class="simple-form">
        <div class="form-group">
            Are you really sure?
        </div>

        <button @onclick="Yes" class="btn btn-outline-danger">Yes</button>
        <button @onclick="No" class="btn btn-primary">Cancel</button>
    </div>
}

@code {

    [CascadingParameter] ModalParameters Parameters { get; set; }
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    bool ShowForm { get; set; } = true;

    void Yes()
    {
        BlazoredModal.Close(ModalResult.Ok(true));
    }

    void No()
    {
        BlazoredModal.Close(ModalResult.Cancel());
    }

}
