@page "/closebutton"
@inject IModalService Modal

<h1>Hiding the modal close button</h1>

<hr class="mb-5" />

<p>
    Blazored.Modal shows a close button in the modal by default. The button can be hidden if you
    prefer to handle closing the modal yourself.
</p>

<button @onclick="CloseButtonShown" class="btn btn-primary">Show the close button</button>
<button @onclick="CloseButtonHidden" class="btn btn-secondary">Hide the close button</button>

@code {

    void CloseButtonShown()
    {
        var parameters = new ModalParameters();
        parameters.Add("FormId", 11);

        var options = new ModalOptions() { HideCloseButton = false };
        Modal.Show("Sign Up Form", typeof(SignUpForm), parameters, options);
    }

    void CloseButtonHidden()
    {
        var parameters = new ModalParameters();
        parameters.Add("FormId", 11);

        var options = new ModalOptions() { HideCloseButton = true };
        Modal.Show("Sign Up Form", typeof(SignUpForm), parameters, options);
    }
}

