@page "/position"
@inject IModalService Modal

<h1>Positioning the modal</h1>

<hr class="mb-5" />

<p>
    The modal is shown in the center of the viewport by default. The modal can be shown
    in different positions if needed. The positioning is flexible as it is set using
    CSS styling.
</p>

<button @onclick="@(() => PositionCustom("blazored-modal-topleft"))" class="btn btn-secondary">Top left</button>
<button @onclick="@(() => PositionCustom("blazored-modal-topright"))" class="btn btn-secondary">Top right</button>
<button @onclick="PositionCenter" class="btn btn-primary">Center</button>
<button @onclick="@(() => PositionCustom("blazored-modal-bottomleft"))" class="btn btn-secondary">Bottom left</button>
<button @onclick="@(() => PositionCustom("blazored-modal-bottomright"))" class="btn btn-secondary">Bottom right</button>

@code {

    void PositionCenter()
    {
        var parameters = new ModalParameters();
        parameters.Add("FormId", 11);

        Modal.Show("Sign Up Form", typeof(SignUpForm), parameters);
    }

    void PositionCustom(string position)
    {
        var parameters = new ModalParameters();
        parameters.Add("FormId", 11);
        var options = new ModalOptions() { Position = position };

        Modal.Show("Sign Up Form", typeof(SignUpForm), parameters, options);
    }
}

