@inject IModalService ModalService

@if (ShowForm)
{
    <div class="simple-form">
        <div class="form-group">
            Are you sure you want to delete the record?
        </div>

        <button @onclick="Yes" class="btn btn-outline-danger">Delete</button>
        <button @onclick="No" class="btn btn-primary">Cancel</button>
    </div>
}

@code {

    [CascadingParameter] ModalParameters Parameters { get; set; }
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    bool ShowForm { get; set; } = true;

    async Task Yes()
    {
        var confirmationModal = ModalService.Show<ConfirmationPrompt>();
        var result = await confirmationModal.Result;

        if (result.Cancelled)
            return;

        BlazoredModal.Close(ModalResult.Ok($"The user said 'Yes'"));
    }

    void No()
    {
        BlazoredModal.Close(ModalResult.Cancel());
    }

}
