.bm-container {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    background-color: rgba(0,0,0,0.5);
}

.blazored-modal {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #fff;
    padding: 1.5rem;
    box-shadow: 0 2px 2px rgba(0,0,0,.25);
    margin: 1.75rem;
}

.size-small {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.size-medium {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.size-large {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.size-extra-large {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.size-automatic {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.bm-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 0 2rem 0;
}

.bm-title {
    margin-bottom: 0;
}

.bm-close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
}

.position-topleft .blazored-modal {
    margin-left: 1.75rem;
}

.position-topright .blazored-modal {
    margin-right: 1.75rem;
}

.position-bottomleft .blazored-modal {
    position: absolute;
    bottom: 0;
    left: 1.75rem;
}

.position-bottomright .blazored-modal {
    position: absolute;
    bottom: 0;
    right: 1.75rem;
}

.position-middle {
    display: grid;
    justify-content: center;
    align-items: center;
}

.fade-in {
   animation: 300ms ease-out 0s ModalFadeIn;
}

.fade-out  {
   animation: 300ms ease-out 0s ModalFadeOut;
   opacity: 0;
}

@keyframes ModalFadeIn {
     0% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }
 }

@keyframes ModalFadeOut {
     0% {
         opacity: 1;
     }

     100% {
         opacity: 0;
     }
 }

.bm-container.pop-in .blazored-modal {
    animation: 300ms ease-out 0s ModalPopIn;
}

.bm-container.pop-out .blazored-modal {
    animation: 300ms ease-in 0s ModalPopOut;
    transform: scale(0%);
}

@keyframes ModalPopIn {
    0% {
        transform: scale(0%);
    }

    50% {
        transform: scale(110%);
    }

    100% {
        transform: scale(100%);
    }
}

@keyframes ModalPopOut {
    0% {
        transform: scale(100%);
    }

    50% {
        transform: scale(110%);
    }

    100% {
        transform: scale(0%);
    }
}
