@namespace Blazored.Modal

<div class="blazored-modal-container @Position">

    <div class="blazored-modal-overlay" @onclick="HandleBackgroundClick"></div>

    <div class="blazored-modal-wrapper">
        <div class="@Class">
            @if (!HideHeader)
            {
                <div class="blazored-modal-header">
                    <h3 class="blazored-modal-title">@Title</h3>
                    @if (!HideCloseButton)
                    {
                        <button type="button" class="blazored-modal-close" @onclick="(() => Parent.CancelInstance(Id))">
                            <span>&times;</span>
                        </button>
                    }
                </div>
            }
            <div class="blazored-modal-content">
                <CascadingValue Value="this">
                    @Content
                </CascadingValue>
            </div>
        </div>
    </div>
</div>
