@page "/"
@inject IModalService Modal

<h1>Blazored Modal Sample</h1>

<hr class="mb-5" />

<p>
    These are examples of using Blazored Modal in its most simplistic form.
</p>

<div class="card mb-4">
    <div class="card-body">
        <p class="card-text">
            <code>
                @("Modal.Show<Confirm>(\"Welcome to Blazored Modal\", options);")
            </code>
        </p>
    </div>
</div>

<button @onclick="ShowModal" class="btn btn-primary">Show Modal</button>

<div class="card mb-4 mt-4">
    <div class="card-body">
        <p class="card-text">
            <code>
                @("var parameters = new ModalParameters();")<br />
                @("parameters.Add(\"Message\", string.Concat(\"Welcome to Blazored at \", DateTime.Now.ToShortTimeString()));")<br />
                @("Modal.Show<MessageConfirm>(\"Welcome to Blazored Modal\", options, parameters);")
            </code>
        </p>
    </div>
</div>

<button @onclick="ShowModalWithParameters" class="btn btn-primary">Show Modal with Parameters</button>

@code {

    void ShowModal() => Modal.Show<Confirm>("Welcome to Blazored Modal");

    void ShowModalWithParameters()
    {
        var parameters = new ModalParameters();
        parameters.Add("Message", string.Concat("Welcome to Blazored at ", DateTime.Now.ToShortTimeString()));

        Modal.Show<MessageConfirm>("Welcome to Blazored Modal", parameters);
    }

}