@page "/"
@inject IModalService Modal

<h1>Blazored Modal Sample</h1>

<hr class="mb-5" />

<p>
    This example shows Blazored.Modal's default behavior, including opening a modal with
    parameters and returning a result.
</p>

<button @onclick="ShowModal" class="btn btn-primary">Show Modal</button>

<button @onclick="ShowModalWithCallback" class="btn btn-secondary">Show Modal with callback</button>


@code {

    async void ShowModal()
    {
        var parameters = new ModalParameters();
        parameters.Add("FormId", 11);


        var modal = Modal.Show<SignUpForm>("Sign Up Form", parameters);
        var result = await modal.Result;
        Console.WriteLine("Modal has closed");

        if (result.Cancelled)
        {
            Console.WriteLine("Modal was Cancelled");
        }
        else
        {
            Console.WriteLine(result.Data.ToString());
        }
    }

    void ShowModalWithCallback()
    {
        var parameters = new ModalParameters();
        parameters.Add("FormId", 12);


        var modal = Modal.Show<SignUpForm>("Sign Up Form", parameters);
        modal.Closed += result =>
        {
            Console.WriteLine("Modal has closed");

            if (result.Cancelled)
            {
                Console.WriteLine("Modal was Cancelled");
            }
            else
            {
                Console.WriteLine(result.Data.ToString());
            }
        };
    }
}

