@page "/"
@inject IModalService Modal

<h1>Blazored Modal Sample</h1>

<hr class="mb-5" />

<p>
    This example shows Blazored.Modal's default behavior, including opening a modal with
    parameters and returning a result.
</p>

<button @onclick="ShowModal" class="btn btn-primary">Show Modal</button>

@code {

    async Task ShowModal()
    {
        var parameters = new ModalParameters();
        parameters.Add("FormId", 11);

        var signUpModal = Modal.Show<SignUpForm>("Sign Up Form", parameters);
        var result = await signUpModal.Result;

        Console.WriteLine("Modal has closed");

        if (result.Cancelled)
        {
            Console.WriteLine("Modal was Cancelled");
        }
        else
        {
            Console.WriteLine(result.Data.ToString());
        }
    }

}

