@page "/"
@inject IModalService Modal

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<hr class="mb-5" />

<button onclick="@(ShowModal)" class="btn btn-primary">Show Modal</button>

@functions {

    void ShowModal()
    {
        Modal.OnClose += CloseModalCallback;
        Modal.Show("Sign Up Form", typeof(SignUpForm));
    }

    void CloseModalCallback()
    {
        Console.WriteLine("Modal has closed");
        Modal.OnClose -= CloseModalCallback;
    }

}